<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank God! Another set of reports to benchmark. "Traction."</h1>
    <p>
      The report is going to be for <%= @company_name %><br />
      When you're done send these back to <%= @user.email %><br />
    </p>
  </body>
</html>