<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank God you signed up for Dashound, <%= @user.email %></h1>
    <p>
      Your username is: <%= @user.email %><br />
      Your password is: <%= @user.password %>
    </p>
    <p>
      Login to Dashound at: <%= @url %>.
    </p>
    <p>Hi, I'm Rahul and I'm gonna help you crush those financials, bra.</p>
  </body>
</html>